body {
    margin: 0%;
    background-color: #A62424;
} 

header{
    background-color: #038C65; 
    text-align: center;
} 

header h1{
    color: white;   
} 

header img{
    border-radius: 150px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 20px solid #01261C;
}